<div>
  {{#each albums}}
    <div>
      <img width="200px" alt="Artist" src={{images.0.url}} />
      <h4>{{name}}</h4>
      <button><a href="/tracks/{{id}}">View Tracks</a></button>
    </div>
  {{/each}}
</div>