<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Search Results</title>
  </head>
  <body>
    {{#each artists}}
      <div>
        <h4>{{name}}</h4>
        <img width="200px" alt="{{name}}" src="{{images.0.url}}" />
        <button><a href="/albums/{{id}}">View Albums</a></button>
      </div>
    {{/each}}
  </body>
</html>