<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>This is the Homepage</h1>
    <form action="/artist-search" , method="GET">
      <input type="text" name="artist" placeholder="The Beatles" />
      <br />
      <input type="submit" value="Search for an Artist" />
    </form>

  </body>
</html>